.listItem__wrapper {
  height: 100vh;
  width: 220px;
}

.listItem__item {
  margin-top: 10px;
  background-color: white;
  width: 200px;
  max-height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.listItem__addItem {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
}

.listItem__addItemBtn {
  padding-right: 5px;
  padding-left: 5px;
}

.listItem__taskArea {
  resize: none;
  margin-top: 10px;
}

.listItem__addTaskButton {
  margin-top: 6px;
  padding: 5px;
  color: white;
  width: 90px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #5aac44;
}

.hide {
  display: none;
}
