.listAdd {
  background-color: rgba(0, 0, 0, 0.1);
  width: 160px;
  padding: 5px;
  border-radius: 5px;
}

.listAdd:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.listAdd__add {
  padding-right: 5px;
  padding-left: 5px;
}

.wishField {
  background-color: white;
  width: 160px;
  height: 62px;
  padding: 5px;
  border-radius: 5px;
}

.wishField__input {
  height: 15px;
  border-color: #0079bf;
  padding: 5px;
  border-radius: 3px;
}

.wishField__addButton {
  margin-top: 6px;
  padding: 5px;
  color: white;
  width: 90px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #5aac44;
}

.wishField__addButton:hover {
  cursor: pointer;
}

.wishField__removeButton {
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
  height: 25px;
  background-color: white;
  margin-left: 5px;
  color: darkblue;
}

.wishField__removeButton:hover {
  cursor: pointer;
}

.displayed {
  display: none;
}
